.sende_btn {
  width: 100px;
  height: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 2px solid black;
  background: #b00b69;
  color: white;
}

.heading {
  border: 1px solid #555;
  padding-top: 20px;
  height: 75px;
  color: white;
  font-weight: 500;
  line-height: 40px;
  padding-left: 50px;
  text-align: center;
}

/* .contactform {
  height: 215px;
}

input {
  margin-bottom: 14px;
  width: 100%;
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  padding-left: 15px;
  height: 44px;
  border-radius: 0;
}

textarea {
  margin-bottom: 14px;
  width: 100%;
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  padding: 15px;
  height: 218px;
  border-radius: 0;
} */
