@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');


/*Site_Settings*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
}


/* Header*/
li, a, button {
  font-family: 'Signika Negative';
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none; 
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  
}
.logo {
  cursor: pointer;
  width: 65px;
  height: 40px;
  

}

.logo__font {
  font-size: 40px;
  padding-left: 10px;
}

.nav__links{
  list-style: none;
}

.nav__links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a{
  transition: all 0.3s ease 0s;
  font-size: 19.2px;
}
.nav__links li a:hover{
  color: #05ffff;
  
  border-radius: 5px;
  box-shadow: -3px -3px 7px rgba(5, 255, 255, 1), 3px 3px 5px rgba(121, 94, 94, 0.288)
}

button {
  padding: 9px 25px;
  background-color: rgba(5, 255, 255, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button {
  background-color: rgba(0, 136, 169, 0.8);
}


/* Schriftfarbe */
p {
    color:white;
    font-family: 'Signika Negative';
  }

.infotext {
  color:white;
  font-family: 'Signika Negative';
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: larger;
}  
.infotext a {
  color:white;
  font-family: 'Signika Negative';
  font-size: 19.2px;
}

.infotext__unterschrift {
  color:white;
  font-family: 'Signika Negative';
  font-size: 19.2px;
  text-align: center;
  padding-bottom: 40px;
}

h1 {
  color:white;
}

h2 {
  color:white;
}

/* Social Media Icons */


.fa {
 
  padding: 20px;
  font-size: 30px;
  width: 60px;
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.fa li a{
  transition: all 0.5s ease 0s;

}
.fa li a:hover{
  color: #05ffff;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  box-shadow: -3px -3px 7px rgba(5, 255, 255, 1), 3px 3px 5px rgba(94, 104, 121, 0.288)

}

.short_summary {
  align-items: center;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.short_summary__font {
  transition: all 0.5s ease 0s;
  font-size: 20px;
}

.short_summary img {
  vertical-align: text-top;
}

.short_summary li{
  display: inline-block;
  align-items: center;
  padding: 50px;
}

.short_summary li a{
  transition: all 0.3s ease 0s;
  padding: 70px 0;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-left: 20px;
  vertical-align: middle;
}

/* Footer */
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;

}

/* Legal */
.legal {
  text-align: center;
  color: white;
  font-family: 'Signika Negative';
  padding-left: 100px;
  padding-right: 100px;
}

.legal ul {
  list-style: none;
}

.legal p {
  padding-bottom: 10px;
}

.legal h2 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.legal li {
  padding-bottom: 10px;
}

.legal h3 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.legal h1 {
  padding-top: 30px;
  padding-bottom: 20px;
}

/* About_page*/
.about_h1 {
  margin: 20px;
  font-size: 40px;
  padding-top: 20px;
  padding-left: 100px;
}
.about_h{
  color:white;
  font-family: 'Signika Negative';
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: xx-large;
}

.about_p{
  color:white;
  font-family: 'Signika Negative';
  text-align: center; 
  padding-left: 10%;
  padding-right: 10%; 
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: medium;
}

.img_about{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-bottom: 25px;
  padding-top: 35px;
}

.container {
position: relative;
  max-width: 40%;
  margin: 0 auto;
}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 15px;
}
