@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  font-family: "Signika Negative";
  color: white;
}

button {
  padding: 9px 25px;
  background-color: #b00b69;
  text-shadow: 0 0 0.8125em #ffffff4d, 0 0 0.8125em currentColor;
  -webkit-box-shadow: inset 0 0 0.5em 0 #ae6599, 0 0 0.5em 0 #ae6599;
          box-shadow: inset 0 0 0.5em 0 #ae6599, 0 0 0.5em 0 #ae6599;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: -3px -3px 7px #ff05ea, 3px 3px 5px rgba(94, 104, 121, 0.288), inset 0 0 0.5em 0 #ae6599, 0 0 0.5em 0 #ae6599;
          box-shadow: -3px -3px 7px #ff05ea, 3px 3px 5px rgba(94, 104, 121, 0.288), inset 0 0 0.5em 0 #ae6599, 0 0 0.5em 0 #ae6599;
}

@media (max-width: 768px) {
  button {
    -webkit-transform: translate(-60%, 80px);
            transform: translate(-60%, 80px);
  }
}

@media (max-width: 768px) {
  .logo {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .logo__font {
    -webkit-transform: translate(50px, 10%);
            transform: translate(50px, 10%);
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .nav__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    font-size: 30px;
    -webkit-transform: translate(-220px, 180px);
            transform: translate(-220px, 180px);
    height: 70px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  width: 65px;
  height: 40px;
}

.logo__font {
  padding: 5px;
  border-radius: 5px;
  font-size: 40px;
  padding-left: 10px;
}

.logo__font:hover {
  opacity: 100;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: -3px -3px 6px #05ffff, 3px 3px 6px black;
          box-shadow: -3px -3px 6px #05ffff, 3px 3px 6px black;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 19.2px;
}

.nav__links li a:hover {
  color: #05ffff;
  border-radius: 5px;
  -webkit-box-shadow: -3px -3px 6px #05ffff, 3px 3px 6px black;
          box-shadow: -3px -3px 6px #05ffff, 3px 3px 6px black;
}

@media (max-width: 768px) {
  .fa {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10%;
    -webkit-transform: translate(-31%, -20px);
            transform: translate(-31%, -20px);
  }
}

.fa {
  padding: 5px;
  margin: 4px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fa li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.fa li ahover {
  color: #05ffff;
  border-radius: 5px;
  -webkit-box-shadow: -3px -3px 6px #05ffff, 3px 3px 6px black;
          box-shadow: -3px -3px 6px #05ffff, 3px 3px 6px black;
}

@media (max-width: 768px) {
  .bottom_links li {
    margin-bottom: 30px;
    display: inline-block;
    padding: 0px 20px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
}

.bottom_links {
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  list-style: none;
  font-size: 30px;
  -webkit-transform: translate(-30px, 0px);
          transform: translate(-30px, 0px);
  height: 70px;
}

.bottom_links li {
  display: inline-block;
  padding: 0px 20px;
}

.bottom_links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 19.2px;
}

.bottom_links li ahover {
  color: #05ffff;
  border-radius: 5px;
  -webkit-box-shadow: -3px -3px 6px #05ffff, 3px 3px 6px black;
          box-shadow: -3px -3px 6px #05ffff, 3px 3px 6px black;
}

.viewProject {
  margin-top: 10px;
  padding: 9px 25px;
  background-color: #4a4b50;
  border-radius: 5px;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.viewProjecthover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #3f4044;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #333333 0px 0px 0px 3px, rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #333333 0px 0px 0px 3px, rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media (max-width: 768px) {
  .short_summary {
    width: 100%;
  }
  .short_summary__font {
    width: auto;
  }
  .short_summary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .short_summary li a {
    margin-left: 10px;
    margin-right: 10px;
  }
  .short_summary li a img {
    margin-left: 10px;
    margin-right: 10px;
  }
  .short_summary__font {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    font-size: 17px;
  }
  .short_summary li img {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    clear: both;
  }
  .short_summary li {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #bgi_bot {
    -webkit-transform: translate(10%);
            transform: translate(10%);
    margin-right: 50%;
  }
  #music_bot {
    margin-top: 200%;
    margin-right: 85%;
  }
  .description {
    -webkit-transform: translate(15%, 40%);
            transform: translate(15%, 40%);
  }
}

.description {
  padding-left: 5%;
}

.description a {
  padding-left: 1%;
}

.short_summary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.short_summary li img {
  background-color: transparent;
  width: 250px;
  float: left;
  margin-right: 10px;
  clear: both;
}

.short_summary li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
}

.short_summary li:hover {
  background-color: #2e32389f;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  border-radius: 2%;
}

.short_summary li div {
  background-color: transparent;
  display: block;
}

.short_summary li div div {
  background-color: transparent;
  font-size: small;
  margin-bottom: 10px;
  overflow: auto;
  display: block;
}

.short_summary li div h6 {
  background-color: transparent;
  font-size: medium;
  margin-left: 4%;
  overflow: auto;
  display: block;
}

.short_summary li div h3 {
  background-color: transparent;
}

.short_summary li div p {
  background-color: transparent;
  margin-top: 2%;
  font-size: 19.2px;
  margin-bottom: 10px;
  overflow: auto;
  display: block;
}

#music_bot {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(45.5%, -102%);
          transform: translate(45.5%, -102%);
}

#music_bot li img {
  background-color: transparent;
  width: 250px;
  float: left;
  margin-right: 10px;
  clear: both;
}

#music_bot li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 7%;
  margin-right: 53%;
  margin-top: 2%;
}

#music_bot li:hover {
  background-color: #2e32389f;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  border-radius: 2%;
}

#music_bot li div {
  background-color: transparent;
  display: block;
}

#music_bot li div div {
  background-color: transparent;
  font-size: small;
  margin-bottom: 10px;
  overflow: auto;
  display: block;
}

#music_bot li div h6 {
  background-color: transparent;
  -size: medium;
  margin-left: 4%;
  overflow: auto;
  display: block;
}

#music_bot li div h3 {
  background-color: transparent;
}

#music_bot li div p {
  background-color: transparent;
  margin-top: 2%;
  font-size: 19.2px;
  margin-bottom: 10px;
  overflow: auto;
  display: block;
}

.description {
  padding-left: 5%;
}

.description a {
  padding-left: 1%;
}

#bgi_bot {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bgi_bot li img {
  background-color: transparent;
  width: 250px;
  float: left;
  margin-right: 10px;
  clear: both;
}

#bgi_bot li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 7%;
  margin-right: 56%;
  margin-top: 2%;
}

#bgi_bot lihover {
  background-color: #2e32389f;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  border-radius: 2%;
}

#bgi_bot li div {
  background-color: transparent;
  display: block;
}

#bgi_bot li div div {
  background-color: transparent;
  font-size: small;
  margin-bottom: 10px;
  overflow: auto;
  display: block;
}

#bgi_bot li div h6 {
  background-color: transparent;
  font-size: medium;
  margin-left: 4%;
  overflow: auto;
  display: block;
}

#bgi_bot li div h3 {
  background-color: transparent;
}

#bgi_bot li div p {
  background-color: transparent;
  margin-top: 2%;
  font-size: 19.2px;
  margin-bottom: 10px;
  overflow: auto;
  display: block;
}

@media (max-width: 768px) {
  .infotext {
    width: 100%;
    text-align: center;
    -webkit-transform: translate(0px, 80px);
            transform: translate(0px, 80px);
  }
  .infotext__unterschrift {
    width: 100%;
    text-align: center;
  }
}

.infotext {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: larger;
}

.infotext a {
  font-size: 19.2px;
}

.infotext__unterschrift {
  font-size: 19.2px;
  text-align: center;
  padding-bottom: 40px;
}
/*# sourceMappingURL=home.css.map */