$background-card:#3a3e449f;
$font-color:white;

@media (min-width: 600px) {
  .card {
    flex-direction: row;
  }

  .profile-main {
    text-align: left;
    // margin-left: 2em;
  }

  .profile-name::after {
    margin-left: 0;
  }
}

.card {
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background: $background-card;
  color: $font-color;
  text-align: center;
  padding: 2em;
}

.profile-name {
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
  background: transparent;
  &::after {
    text-align: center;
    content: "";
    display: block;
    height: 1px;
    width: 2em;
    background: rgb(31, 197, 202);
    margin: 10px auto;
    opacity: 0, 35;
  }
}

.profile-position {
  margin: 0;
  text-transform: uppercase;
  font-size: 0, 875rem;
  letter-spacing: 3px;
  color: $font-color;
  margin-bottom: 2em;
  text-align: center;
  background: transparent;
}

.profile-main{
  background: transparent;
}

.profile-body {
  font-weight: 300;
  margin-bottom: 0;
  background: transparent;
}

.profile-sidebar{
  background: transparent;
  &::after {
    text-align: center;
    content: "";
    display: block;
    height: 1px;
    width: 1em;
    background: rgb(31, 197, 202);
    margin: 10px auto;
    opacity: 0, 35;
  }
}

.profile-image {
  border-radius: 50%;
  border: 4px solid $font-color;
}

.social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  margin-top: 7px;
  background: transparent;
}

.social-link {
  color: $font-color;
  opacity: 0, 5;
  background-color: transparent;
  &:hover,
  &:focus {
    opacity: 1;
  }
}

i{
  background: transparent;
}

li{
  background: transparent;
}
