@import "contactButton";

$primary-color: #05ffff;
$secondary-color: black;

@media (max-width: 768px) {
  .logo {
    width: auto;
    flex-direction: column;
    text-align: center;
  }
  .logo__font {
    transform: translate(50px, 10%);
    width: auto;
    flex-direction: column;
    text-align: center;
  }
  .nav__links {
    flex-direction: row-reverse;
    font-size: 30px;
    transform: translate(-220px, 180px);
    height: 70px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  width: 65px;
  height: 40px;
}

.logo__font {
  padding: 5px;
  border-radius: 5px;

  font-size: 40px;
  padding-left: 10px;
}
.logo__font:hover {
  opacity: 100;
  transition: all 0.3s ease 0s;
  box-shadow: -3px -3px 6px $primary-color, 3px 3px 6px $secondary-color;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  font-size: 19.2px;
  padding: 5px;
}
.nav__links li a:hover {
  color: $primary-color;
  border-radius: 5px;
  box-shadow: -3px -3px 6px $primary-color, 3px 3px 6px $secondary-color;
}
