$font-color: white;

h1 {
  font-family: "Signika Negative";
  text-decoration: none;
  font-weight: 500;
  line-height: 40px;
  height: 75px;
  color: $font-color;
  padding-top: 15px;
  padding-left: 50px;
  text-align: center;
}

fieldset{
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20%;
  margin-left: 20%;
  border-color: #5d5d5d;
}

input {
  font-size: 14px;
  font-family: "Signika Negative";
  color: $font-color;
  outline: none;
  border: none;
  width: 100%;
  padding-left: 15px;
  margin-bottom: 14px;
  height: 44px;
}

textarea {
  font-size: 14px;
  font-family: "Signika Negative";
  color: $font-color;
  outline: none;
  border: none;
  width: 100%;
  padding: 15px;
  height: 218px;
  margin-bottom: 14px;
}
