@import "header";
@import "footer";
@import "projects";

@media (max-width: 768px) {
  .infotext {
    width: 100%;
    text-align: center;
    transform: translate(0px, 80px);
  }

  .infotext__unterschrift {
    width: 100%;
    text-align: center;
  }
}

.infotext {
  text-align: center;
  padding: 50px 20% 20px;
  font-size: larger;
}
.infotext a {
  font-size: 19.2px;
}

.infotext__unterschrift {
  font-size: 19.2px;
  text-align: center;
  padding-bottom: 40px;
}
