@import "default";
@import "header";
@import "footer";

.legal {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.legal ul {
  list-style: none;
}

.legal p {
  padding-bottom: 10px;
}

.legal h2 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.legal li {
  padding-bottom: 10px;
}

.legal h3 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.legal h1 {
  padding-top: 30px;
  padding-bottom: 20px;
}
