.button {
  position: center;
  margin-left: 45%;
  margin-right: 45%;
  display: block;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #b00b69;
  border: solid 1px transparent;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: -3px -3px 7px #ff05ea, 3px 3px 5px rgba(94, 104, 121, 0.288), inset 0 0 0.5em 0 #ae6599, 0 0 0.5em 0 #ae6599;
          box-shadow: -3px -3px 7px #ff05ea, 3px 3px 5px rgba(94, 104, 121, 0.288), inset 0 0 0.5em 0 #ae6599, 0 0 0.5em 0 #ae6599;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  margin: 30px auto 0 auto;
  border: solid 2px #424242;
  border-top: solid 2px #b00b69;
  border-radius: 50%;
  opacity: 0;
}

.check {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate3d(-4px, 50px, 0);
          transform: translate3d(-4px, 50px, 0);
  opacity: 0;
}

.check span:nth-child(1) {
  display: block;
  width: 10px;
  height: 2px;
  background-color: #19e356;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.check span:nth-child(2) {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #19e356;
  -webkit-transform: rotate(-45deg) translate3d(14px, -4px, 0);
          transform: rotate(-45deg) translate3d(14px, -4px, 0);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

.loader.active {
  -webkit-animation: loading 3s ease-in-out;
          animation: loading 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.check.active {
  opacity: 1;
  -webkit-transform: translate3d(-4px, 4px, 0);
          transform: translate3d(-4px, 4px, 0);
  -webkit-transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
  transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  background: transparent;
}

@-webkit-keyframes loading {
  30% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
    border-color: transparent;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
    border-color: #19e356;
  }
}

@keyframes loading {
  30% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
    border-color: transparent;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(1080deg);
            transform: rotate(1080deg);
    border-color: #19e356;
  }
}
/*# sourceMappingURL=sendbutton.css.map */